.container-login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-login {
  max-width: 900px;
  width: 100%; 
  margin: 0 auto;
  border-radius: 16px;
}
.card-body{
padding: 0;
}
/*estilo del titulo*/
.card-header-login {
  background: linear-gradient(135deg, #ff7a00, #e65100);
  color: white;
  text-align: center;
  padding:  30px 15px 5px 15px;
  border-radius: 16px 16px 0 0;
}
.icono{
  background: white;
  color: #e65100;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 24px;
}
/*estilo del form*/
.form{
  padding:  30px 30px 5px 30px;
}
.labelform {
  font-weight: 500;
  color: #444;
}
.bottoninit {
  background: linear-gradient(135deg, #ff7a00, #e65100);
  border: none;
  border-radius: 10px;
  padding: 14px;
  font-weight: 600;
  color: white;
  width: 100%;
}

.bottoninit:hover {
   transform: translateY(-2px); /* efecto levantar */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  background: #521313;
}
.button{
  padding:  5px 30px 30px 30px;
}
