.card-login {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  border-radius: 16px;
}
.card-body{
padding: 0;
}
/*estilo del titulo*/
.card-header-login {
  background: linear-gradient(135deg, #ff7a00, #e65100);
  color: white;
  text-align: center;
  padding:  30px 15px 5px 15px;
  border-radius: 16px 16px 0 0;
}
.icono{
  background: white;
  color: #e65100;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 24px;
}
/*estilo del form*/
.form{
  padding: 30px;
}
.labelform {
  font-weight: 500;
  color: #444;
}
.bottoninit {
  background: linear-gradient(135deg, #ff7a00, #e65100);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
}

.bottoninit:hover {
  opacity: 0.9;
}
