.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f1e6; /* beige suave */
}

.card-login {
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.titulo {
  text-align: center;
  font-size: 24px;
  color: #5a3e2b; /* marrón elegante */
  margin-bottom: 20px;
  font-weight: bold;
}

button {
  background-color: #5a3e2b;
  border: none;
}

button:hover {
  background-color: #3e2a1c;
}