body{
    background-color: #f5f1e6;
}
/*padding*/
.section-padding{
  padding: 16px 24px ;
}
/*label*/
.label{
  font-size: 15px; /*tamaño texto*/
    font-weight: 500;/*negrilla*/
}

/* INPUT FOCUS GLOBAL */
.form-control:focus {
  border-color: #e65100 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 123, 0, 0.356) !important;
}
/* BOTÓN AGREGAR */
.Botton-agregar {
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  background-color: #e65100 !important;
  border: 1px solid #e65100 !important;
}

.Botton-agregar:hover {
  background-color: #b94100 !important;
}